body{
    background-color: white;
}

#name{
    font-size: 40px;

}

.crystals{
    display:flex;
    justify-content:space-between;
    border:1px solid white;
    align-items: center;

}

.crystal{

    border:1px solid green;
    height: 200px;
    width: 200px;
}
